CREATE TABLE consultas_dni ( id_consulta INT AUTO_INCREMENT PRIMARY KEY, dni VARCHAR(20) NOT NULL, nombres VARCHAR(255), ape_paterno VARCHAR(255), ape_materno VARCHAR(255), direccion TEXT, distrito VARCHAR(255), provincia VARCHAR(255), departamento VARCHAR(255), ubigeo VARCHAR(10), fecha_consulta TIMESTAMP DEFAULT CURRENT_TIMESTAMP, id_usuario INT, activo TINYINT(1) DEFAULT 1, FOREIGN KEY (id_usuario) REFERENCES usuarios(id_usuario) );
